<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信融财富</title>
<link href="../../css/basic.css" tppabs="https://www.xinrong.com/2.0/css/basic.css" rel="stylesheet" type="text/css" />
</head>
<style>
.baomain{ width:100%; line-height:25px; font-size:0.9em;}
.baomain h1{ font-size:18px; line-height:30px; padding:10px 0; text-align:center;}
.baomain h2{ font-size:14px; font-weight:normal; padding:10px 0;}
.baomain b{ text-decoration:underline;}

@media screen and (min-width : 900px){.baomain{ width:900px; margin:0 auto; font-size:13px;}}

</style>
<body>
<div class="baomain">
<h1>信融财富平台自动投资授权协议</h1>
<p>信融财富平台自动投资授权协议（以下简称“本协议”）是深圳市信融财富投资管理有限公司（以下简称“信融财富”）与信融财富用户（以下简称“用户”或“您”)就用户在信融财富平台（包括信融财富网站www.xinrong.com和信融财富客户端）自动投资等相关事项所订立的有效合约。用户通过网络页面点击确认或以其他方式选择接受本协议，即表示用户与信融财富已达成协议并同意接受本协议的全部约定内容以及与本协议有关的各项规则。</p>
<b>在接受本协议之前，请您仔细阅读本协议的全部内容，尤其是加粗加下划线部分的内容。如果您不同意本协议的任意内容，或者无法准确理解信融财富对条款的解释，请不要进行后续操作。</b>
<h2>1、自动投资释义</h2>
<p>自动投资：是指符合条件的信融财富用户，在信融财富平台设置自动投资条件开启自动投资功能，当平台有符合用户设定条件的可投资项目时完成资金的自动投资。</p>
<h2>2、开通条件</h2>
<p>已通过信融财富账户认证并在有效期内的用户，均可在信融财富平台开启自动投资功能。</p>
<h2>3、自动投资规则</h2>
<p>信融财富为签署本授权协议并开启自动投资功能的用户，提供自动投资服务。开启自动投资功能的信融财富用户，可以在其个人账户的自动投资设置页面，设置自动投资项目的年化收益率、金额保留、单笔投资金额、回款方式、投资期限等条件，此条件的设置是完成自动投资的前提。信融财富通过运行自动投资系统，在出现符合用户设置的自动投资条件的投资项目时帮助用户实现投资。</p>
<p><b>用户在信融财富平台自动投资的成功与否,受注册用户会员等级的优先权(具体优先顺序规则见信融财富网站公示的信息)、启动时间、手动快速投资影响、以及可投资项目的剩余可投金额等因素的影响,用户开启自动投资功能后,信融财富不保证客户的资金全部投资成功。</b></p>
<h2>4、自动投资功能的启用生效</h2>
<p>符台条件的信融财富用户按照信融财富规定的流程,设置自动投资的投资条件后，只要复选“我已阅读并同意签署《信融财富平台自动投资授权协议》”并按照信融财富规定的流程开启自动投资功能的，信融财富用户的行为即表示同意并签署了本协议。自动投资功能设置成功后，该用户即可享受信融财富提供的自动投资服务。</p>
<h2>5、自动投资功能的终止</h2>
<p>信融财富用户成功设置并启用自动投资功能后，发生以下情形之一的，信融财富将有权终止该用户的自动投资功能:</p>
<p>(1)信融财富用户的服务功能终止的；</p>
<p>(2)用户因违反信融财富公布的各项规则及所签署的各类协议，包括但不限于与信融财富签署的协议、通过信融财富与信融财富其它用户签署的协议等，信融财富认为应当终止该用户的自动投资服务的；</p>
<p>(3)其它信融财富认为应当终止用户的自动投资功能的情形；</p>
<p>(4)除本协议另有规定外，信融财富在提前通知用户或在平台公告的情况下，可以单方面终止向您提供自动投资服务，并不承担任何赔偿责任。</p>
<h2><b>6、用户声明与保证</b></h2>
<p><b>信融财富用户声明并保证如下:<br />
(1)本人已认真阅读并完全理解本授权协议的全部条款，对本授权协议条款的含义及相应的法律后果已完全知晓并充分理解，同意使用信融财富自动投资系统为本人进行投资；<br />
(2)本人已认真阅读自动投资所要签署的全部格式合同的全部条款及相关规则，已对该全部格式合同条款及规则的含义及相应法律后果完全知晓并充分理解；<br />
(3)通过信融财富平台开启自动投资功能即视为用户已全部签署合同，用户接受并保证基于自动投资所产生的全部法律后果均由用户承担，并保证完全履行全部合同；<br />
(4)用户一旦签署本授权协议即表示认可并完全接受信融财富自动投资相关规则，用户通过自动投资系统进行投资产生的收益及投资风险由用户承担。<br /></b>
</p>
<h2>7、规则修改</h2>
<p>信融财富有权不时按照实际需要修改信融财富自动投资规则以更好服务信融财富用户。信融财富自动投资规则的所有修改,信融财富会在更改之日在平台公告或通知，自公告或通知之日起即时生效。<b>信融财富用户应留意信融财富自动投资规则的变更，如不同意规则变更的内容，应立即取消自动投资功能，否则本协议的修改版对用户继续有效。信融财富用户取消此自动投资功能，对取消前产生的法律关系仍受此授权协议的约束。</b></p>
<h2>8、条款独立性</h2>
<p>本协议中部分条款依据相关政策及法律法规被确认无效，不影响本协议项下其他条款的效力。</p>
<h2>9、其他</h2>
<p>信融财富公布的所有条款、其他规则、声明及用户在信融财富点击确认签署的电子文件、协议等与本协议具有同等的法律效力；本协议未约定的，以信融财富公布的条款规则为准，若信融财富公告的规则和条款与本协议不一致的，则以本协议为准。</p>
</div>
</body>
</html>
