@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { font-size: 100%; margin: 0; padding: 0; -webkit-text-size-adjust:100%;}
body{ font: 12px/1.5 "微软雅黑", tahoma, arial, \5b8b\4f53; color:#444;}
input{ color:#444; font-size:12px; font-family:"微软雅黑";}
img{ border:0;}
ul,ol{ list-style:none}
a{ text-decoration:none; color:#444;}
a:hover{ text-decoration:underline;}

.clear{ clear:both; height:0px; line-height:0px; font-size:0px; margin:0px; padding:0px;}
.left{ float:left; display:inline}
.right{ float:right; display:inline}
.main{ width:1000px; margin:0 auto;}

.black5{ height:5px; overflow:hidden; font-size:0; clear:both;}
.black10{ height:10px; overflow:hidden; font-size:0; clear:both;}
.black15{ height:15px; overflow:hidden; font-size:0; clear:both;}
.black20{ height:20px; overflow:hidden; font-size:0; clear:both;}
.black25{ height:25px; overflow:hidden; font-size:0; clear:both;}

.PositionR{ position:relative;}
.AllIcon{ background:url("../../../../images/action/singleDay/icon.png"/*tpa=https://www.xinrong.com/s/images/action/singleDay/icon.png*/) no-repeat;}

.gray{ color:#bababa;}
.red{ color:#f00;}
.blue{ color:#0078B6;}
.orange{color:#F60;}

.LineBorder{ border-bottom:2px solid #c6c6c6; overflow:hidden; font-size:0; clear:both; height:0px; line-height:0px; font-size:0px; margin:0px; padding:0px;}
.borderbottom{ border-bottom:1px solid #eaeaea; overflow:hidden; font-size:0; clear:both; height:0px; line-height:0px; font-size:0px; margin:0px; padding:0px;}

/*head*/
.headertop{ width:100%; min-width:1000px; background:#f2f2f2; border-bottom:1px solid #c4c4c4; height:33px; position: fixed;_position: absolute; top: 0; z-index: 1987;}
.headertop .top-menu ul{ margin:0px; padding:0px; list-style:none;}
.headertop .top-menu ul li{ float:left; padding:0 9px; line-height:33px;}
.headertop .top-menu ul li.picicon{ padding:0px 0 0 5px;}
.headertop .top-menu ul li .iconweibo{ width:17px; height:14px; display:inline-block; background-position:0 0; vertical-align:middle; margin-bottom:4px;}
.headertop .top-menu ul li .iconweixin{ width:19px; height:16px; display:inline-block; background-position:-28px 0; vertical-align:middle; margin-bottom:4px;}
.headertop .top-menu ul li.topfont a{ margin:0 10px;}

.headerNav{ padding-top:33px;}
.headerNav .logo{ padding:24px 0 4px 0; height:49px;}
.headerNav .mainNav{ width:655px; padding:23px 0 0 0;}
.headerNav .mainNav li{ width:109px; text-align:center; height:54px; line-height:54px; float:left;}
.headerNav .mainNav li a{ font-size:18px; color:#656565; text-decoration:none;}
.headerNav .mainNav li a:hover,.headerNav .mainNav li a.cur{ color:#ff6600;}

.headerNav .logofont{ font-size:22px; color:#666666; padding:31px 0 0 24px;}
/*head end*/

/*footer*/
.footerbg{ width:100%; min-width:1000px; background:#f7f7f7; border-top:1px solid #e5e3e3;}
.footerbg .footerleft{ width:696px; padding:26px 0 20px 0;}
.footerbg .footerleft .footerpic{ padding-top:3px;}
.footerbg .footerleft .footerpic span{ display:inline-block; padding:0 34px 0 5px; vertical-align:top;}
.footerbg .footerleft dl{ padding-top:10px; line-height:20px;}
.footerbg .footerleft dt{ padding-left:5px; float:left; width:58px;}
.footerbg .footerleft dd{ float:left; width:613px;}
.footerbg .footerleft dd a{ color:#bababa; margin:0 6px 0 5px;}
.footerbg .footerright{ border-left:2px solid #e7e7e7; width:302px; margin-top:26px;}
.footerbg .footerright img{ vertical-align:middle;}
.footerbg .footerright .fontQQ{ padding-left:32px; padding-top:3px;}
.footerbg .footerright .fontQQ p{ padding-top:12px;}

.footernav{ width:100%; min-width:1000px; background:#757575; text-align:center; padding:10px 0; line-height:28px; color:#b6b6b6;}
.footernav a{ color:#b6b6b6; margin:0 15px;}

/*footer end*/

.sub01{ width:46px; height:24px; line-height:24px; text-align:center; background:#c8c8c8; color:#fff; display:inline-block; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; text-decoration:none;}
.sub01:hover{text-decoration:none;}
.sub02{ width:46px; height:24px; line-height:24px; text-align:center; background:#ff6600; color:#fff; display:inline-block; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; text-decoration:none;}
.sub02:hover{text-decoration:none;}

.sub03{ width:100px; height:30px; line-height:30px; text-align:center; background:#ff6600; color:#fff; display:inline-block; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; text-decoration:none;}
.sub03:hover{text-decoration:none;}

.pageleft{ width:680px;}
.pageright{ width:305px;}

.danbao{ width:29px; height:15px; line-height:15px; text-align:center; color:#fff; background:#4d9243; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; display:inline-block; vertical-align:middle; margin-left:5px; font-size:11px; font-style:normal; overflow:hidden;}
.kezhuan{ width:29px; height:15px; line-height:15px; text-align:center; color:#fff; background:#60b854; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; display:inline-block; vertical-align:middle; margin-left:5px; font-size:11px; font-style:normal; overflow:hidden;}
.zhuan{ width:29px; height:15px; line-height:15px; text-align:center; color:#fff; background:#25a7cb; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; display:inline-block; vertical-align:middle; margin-left:5px; font-size:11px; font-style:normal; overflow:hidden;}
.shouxian{ width:29px; height:15px; line-height:15px; text-align:center; color:#fff; background:#4bc1e1; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; display:inline-block; vertical-align:middle; margin-left:5px; font-size:11px; font-style:normal; overflow:hidden;}

.iconI{ width:15px; height:15px; background-position:-293px 0; display:inline-block; vertical-align:middle; margin:0 5px 3px 0;}

/*圆形进度*/

.progresspic{ width:40px; height:40px; display:inline-block; background:url("../../../../images/action/singleDay/progress.png"/*tpa=https://www.xinrong.com/s/images/action/singleDay/progress.png*/) no-repeat; position:relative;}
.progresspic .Pfont{ display:inline-block; width:40px; height:40px; line-height:40px; text-align:center; position:absolute; left:0px; top:0px; font-style:normal;}
.Pro0{ background-position:0 0;}
.Pro1_3{ background-position:-44px 0;}
.Pro4_5{ background-position:-88px 0;}
.Pro6_10{ background-position:-132px 0;}
.Pro11_15{ background-position:-176px 0;}
.Pro16_20{ background-position:-219px 0;}
.Pro21_25{ background-position:-263px 0;}
.Pro26_30{ background-position:-306px 0;}
.Pro31_35{ background-position:-350px 0;}
.Pro36_40{ background-position:-393px 0;}
.Pro41_45{ background-position:-437px 0;}
.Pro46_50{ background-position:-481px 0;}
.Pro51_55{ background-position:-524px 0;}
.Pro56_60{ background-position:-567px 0;}
.Pro61_65{ background-position:-611px 0;}
.Pro66_70{ background-position:-654px 0;}
.Pro71_75{ background-position:-698px 0;}
.Pro76_80{ background-position:-741px 0;}
.Pro81_85{ background-position:-785px 0;}
.Pro86_90{ background-position:-828px 0;}
.Pro91_95{ background-position:-872px 0;}
.Pro96_99{ background-position:-915px 0;}
.Pro100{ background-position:-959px 0;}

/*圆形进度 end*/

.titlefont{ height: 32px; line-height: 32px; font-size: 18px; font-weight: normal; border-bottom:1px solid #eaeaea; padding:0 5px;}
.titlefont a{ font-size:12px;}

.titlefont01{ height:32px; line-height:32px; font-size:20px; font-weight:normal;}
.titlefont01 span{ font-size:12px; margin-left:15px;}




